@model TestTwo

<form method="post">
        <input type="text" asp-for="Name" class="form-control"/>
        <select asp-for="Department" class="form-control">
            <option></option>
            <option></option>
            <option></option>
        </select>
        <input type="text" asp-for="Salary" class="form-control" />   
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
