@model List<Product>

@*<partial name="Notification"></partial> *@    
 <a asp-controller="Product" asp-action="AddProduct"><input type="button" value="Add Product"/ class="btn btn-info"></a>
<br/>
<br/>
<div class="d-flex">
@foreach(var d in Model)
{
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" height="200" weight="200" src="@d.Picture" alt="Card image cap"> @*/@d.Picture id this doesnt work*@
      <div class="card-body">
        <h5 class="card-title">@d.Pname</h5>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Category : @d.Pcat</li>
        <li class="list-group-item">Price : @d.Price</li>
      </ul>
      <div class="card-body">
        <a href="" class="btn btn-warning btn-info">Add to Cart</a>
      </div>
    </div>   
    }
</div>

@* 
@section scripts {
    <partial name="_ValidationScriptsPartial"></partial>
}
*@