@model List<Product>

@*<partial name="Notification"></partial> *@    
 <a asp-controller="Product" asp-action="AddProduct"><input type="button" value="Add Product" class="btn btn-info"></a>
 
 <br /><br />
 
 <input type="button" value="Low to High" class="btn btn-secondary" id="LTHbtn"/>

<br/><br/>

<form method="post">
    <select name="choice">
        <option>All</option>
        <option>LTH</option>
    </select>
    <input type="submit" value="Filter" class="btn btn-outline-primary"/>
</form>
<br /><br />

<div class="d-flex">
@foreach(var d in Model)
{
    <div class="card" style="width: 18rem;">
      <img class="card-img-top" height="200" weight="200" src="/@d.Picture" alt="Card image cap"> @*use /@d.Picture id this doesnt work*@
      <div class="card-body">
        <h5 class="card-title">@d.Pname</h5>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Category : @d.Pcat</li>
        <li class="list-group-item">Price : @d.Price</li>
      </ul>
      <div class="card-body">
        <input type="button" asp-controller="Product" asp-action="AddToCart" asp-route-id="@d.pid" class="btn btn-warning btn-info" value="Add to Cart" />
      </div>
    </div>   
    }
</div>
